.DS_Store
public
resources
.idea
content/.obsidian
data/linkIndex.yaml
data/contentIndex.yaml
"content/notes/000 This Semester/001 Lecture Video"
"content/notes/000 This Semester/002 Daily Notes"
*.obsidian
**/Resources
**/Resource
*.pdf
*.mp4
*.webm