.DS_Store
public
resources
.idea
content/.obsidian
assets/indices/linkIndex.json
assets/indices/contentIndex.json
content/Obsidian\ Vault/textbooks/
content/Obsidian\ Vault/private/
content/Obsidian\ Vault/pocket/
