{
    "printWidth": 80,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": false,
    "useTabs": false,
    "singleQuote": false,
    "quoteProps": "consistent",
    "bracketSpacing": false,
    "bracketSameLine": true,
    "arrowParens": "always",
    "proseWrap": "never",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false
}
