@use "../../styles/variables.scss" as *;

.backlinks {
  @media all and not ($desktop) {
    overflow-y: auto;
    display: initial;
    &:after {
      pointer-events: none;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 1;
      transition: opacity 0.3s ease;
      background: linear-gradient(transparent 0px, var(--light));
    }

    &:has(> .overflow) {
      position: unset;
    }

    & > h3 {
      font-size: 1rem;
      margin: 0;
    }

    & > ul {
      list-style: none;
      padding: 0;
      margin: 0.5rem 0;

      & > li {
        & > a {
          background-color: transparent;
        }
      }
    }

    & > .overflow {
      max-height: unset;
      & > li:last-of-type {
        margin-bottom: 0;
      }
      &:after {
        display: none;
      }
    }
  }
}
