@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
  /*&:after {
      pointer-events: none;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 1;
      transition: opacity 0.3s ease;
      background: linear-gradient(transparent 0px, var(--light));
    }*/

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }

  & > .overflow {
    &:after {
      display: none;
    }
    height: auto;
    @media all and ($desktop) {
      height: 250px;
    }
  }
}
