.content-meta {
  font-weight: bold;
  margin-top: 0.25em;
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 0.75em;

      &::after {
        content: "·";
        margin-left: 0.75em;
      }
    }
  }
}
