.darkmode {
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0 10px;

  & svg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #dayIcon {
    display: none;
  }
  & > #nightIcon {
    display: inline;
  }
}

:root .toggle ~ label {
  & > #dayIcon {
    display: inline;
  }
  & > #nightIcon {
    display: none;
  }
}
