button#explorer {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

#explorer-content > ul.overflow {
  height: 400;
}

ul.overflow::after {
  background: none;
}

#explorer-content {
  list-style: none;
  overflow: hidden;
  max-height: none;
  transition: max-height 0.35s ease;
  margin-top: 0.5rem;

  &.collapsed > .overflow::after {
    opacity: 0;
  }

  & ul {
    list-style: none;
    margin: 0.08rem 0;
    transition: transform 0.35s ease;
    transition: opacity 0.35s ease;
    transition: max-height 0.35s ease;
    padding: 0;
    & > li > a {
      color: var(--dark);
      opacity: 0.75;
    }
  }
}

svg {
  pointer-events: all;
}

svg > polyline {
  pointer-events: none;
}

.folder-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  user-select: none;
}

.folder-button {
  color: var(--secondary);
  cursor: pointer;
  transition: transform 0.3s ease;
  backface-visibility: visible;
  width: 18;
  height: 18;
}

.collapsed-folder {
  transform: rotateZ(-90deg);
}

.folder-button:hover {
  color: var(--tertiary);
}
