footer {
  text-align: left;
  margin-bottom: 4rem;
  opacity: 0.9;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
  }
}
