@import 'darkmode';

.hbox {
	flex: 1;
	display: flex;
	flex-direction: row;
	// gap: 2rem;
	// box-sizing: border-box;
	// padding: 0;
	align-items: baseline;
	// width: fit-content;
	height: min-content;
	
	& > * {
		flex: 1;
		height: min-content;
		margin: 5px;
		// flex-basis: 100%;

	}
	& > .darkmode {
		flex: 0;
		flex-basis: 20px;
		width: 20px;
		height: 20px;
	}
}