@use "../../styles/variables.scss" as *;


header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  //margin: 2rem 0;
  margin-top: 2rem;
  padding-bottom: 1.5rem;

  @media all and (max-width: $fullPageWidth) {
    //justify-content: space-between;
    border-bottom: 1px solid var(--lightgray);
    padding-bottom: 0;
  }
}

header h1 {
  margin: 0;
  flex: auto;
}
