.preview {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 16px 16px;
    
    border-style: solid;
    border-color: #00bfa544;
    border-width: 1px;
    border-radius: 5px;
    background: #00bfa510;

    & > .preview-image {
        margin: 0px 0px;
        align-self: center;
    }

    & > .preview-content {
        margin: 0px 10px;
        align-self: flex-start;

        & > .preview-title {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;

            & > div a {
                font-size: 20;
                color: rgb(152, 173, 104);
                background-color: rgba(157, 169, 143, 0.062);
            }
        }

        & > .preview-tags {
            margin: 0px 0px;
            margin-top: 16px;

            & > li a {
                padding: 2px 8px;
                color: rgb(104, 173, 162);
                background-color: rgba(143, 169, 160, 0.062);
            }
        }

        & > p {
            margin: 0px 0px;
            margin-top: 4px;
        }
    }
}

@media (max-width: 767px) {
    .preview {
        flex-direction: column;
        
        & > .preview-image {
            display: none;
        }

        & > .preview-content {
            & > .preview-title {
                flex-direction: column;
                justify-content: unset;
            }
        }
    }
}