.preview {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 16px 16px;
    
    border-style: solid;
    border-color: #00bfa544;
    border-width: 1px;
    border-radius: 5px;
    background: #00bfa510;

    & > .preview-image {
        margin: 0px 0px;
        align-self: center;
    }

    & > .preview-content {
        margin: 0px 10px;
        align-self: flex-start;

        & > .preview-title {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;

            & > div a {
                font-size: 20;
            }
        }

        & > p {
            margin: 0px 0px;
            margin-top: 4px;
        }
    }
}

@media (max-width: 767px) {
    .preview {
        & > .preview-content {
            & > .preview-title {
                flex-direction: column;
                justify-content: unset;
            }
        }
    }
}