<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    <header>
        <h1 id="page-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Data.config.page_title }}</a></h1>
        <svg tabindex="0" id="search-icon" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">Icon to open search</desc><g class="search-path" fill="none"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g></svg>
        <div class="spacer"></div>
        {{partial "darkmode.html" .}}
    </header>
    <article>
        <h1>All {{.Title}}</h1>
        {{partial "page-list.html" .Paginator.Pages.ByLastmod.Reverse }}
        {{ template "_internal/pagination.html" .}}
    </article>
    {{partial "contact.html" .}}
</div>
</body>

</html>
