<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "darkmode.html" .}}
    <article>
        {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
        {{if $.Site.Data.config.enableToc}}
        <aside class="mainTOC">
            <h3>Table of Contents</h3>
            {{ .TableOfContents }}
        </aside>
        {{end}}
        {{- .Content -}}
    </article>
    {{partial "footer.html" .}}
</div>
</body>

</html>
