<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<main class="main-container"><div class="blur-element"></div>
<aside class="main-aside disabled">
    {{ partial "menu" . }}
</aside>
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1>{{ i18n "tag" }}: {{ .Title }}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        {{partial "page-list.html" .Paginator.Pages}}
        {{ template "_internal/pagination.html" . }}
    </article>
    {{partial "contact.html" .}}
</div>
</main>
</body>
{{ $js := resources.Get "js/menu.js" }}
<script src="{{ $js.Permalink }}"></script>
</html>
