div.SC-prompt-modal-gta0c24juf {
	width: 650px;
}

.theme-dark .div.SC-prompt-modal-gta0c24juf {
	background-color: rgb(22, 27, 34);
}

div.SC-prompt-modal-gta0c24juf button {
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 0 12px;
}

.theme-light .SC-prompt-modal-gta0c24juf button {
    background-color: rgb(31, 136, 61);
}

.theme-dark .SC-prompt-modal-gta0c24juf button {
    background-color: rgb(35, 134, 54);
}

.theme-light div.SC-prompt-modal-gta0c24juf button:hover {
    background-color: rgb(26, 127, 55);
}

.theme-dark .SC-prompt-modal-gta0c24juf button:hover {
    background-color: rgb(46, 160, 67);
}

div.SC-prompt-modal-gta0c24juf label {
    font-weight: 600;
}