:root {
  --callout-summary: 0, 191, 188;
  --callout-bug: 233, 49, 71;
  --callout-danger: 233, 49, 71;
  --callout-example: 120, 82, 238;
  --callout-fail: 233, 49, 71;
  --callout-info: 8, 109, 221;
  --callout-todo: 8, 109, 221;
  --callout-note: 8, 109, 221;
  --callout-question: 224, 172, 0;
  --callout-quote: 158, 158, 158;
  --callout-success: 8, 185, 78;
  --callout-important: 0, 191, 188;
  --callout-warning: 236, 117, 0;
  --callout-media: 120, 82, 238;
  --callout-resource: 212, 182, 138;
}

[saved-theme=dark] {
  --callout-summary: 83, 223, 221 !important;
  --callout-bug: 251, 70, 76 !important;
  --callout-danger: 251, 70, 76 !important;
  --callout-example: 168, 130, 255 !important;
  --callout-fail: 251, 70, 76 !important;
  --callout-info: 2, 122, 255 !important;
  --callout-todo: 2, 122, 255 !important;
  --callout-note: 2, 122, 255 !important;
  --callout-question: 224, 222, 113 !important;
  --callout-quote: 158, 158, 158 !important;
  --callout-success: 68, 207, 110 !important;
  --callout-important: 83, 223, 221 !important;
  --callout-warning: 233, 151, 63 !important;
  --callout-media: 168, 130, 255 !important;
  --callout-resource: 201, 162, 107 !important;
}

blockquote.callout-collapsible {
  cursor: pointer;

  &.callout-collapsible::after {
    content: '-';
    right: 6px;
    font-weight: bolder;
    font-family: Courier New, Courier, monospace;
  }
  & > *:not(:first-child) {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease-in-out;
    & > * {
      overflow: hidden;
    }
  }
}

blockquote.callout-collapsed {
  & > div { border-bottom-right-radius: 5px !important; }
  padding-bottom: 0 !important;
  &::after {
    content: '+' !important;
  }
  & > *:not(:first-child) {
    grid-template-rows: 0fr;
  }
}

blockquote[class*="-callout"] {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  padding-left: 0 !important;
  padding-bottom: 0.25em;
  color: var(--dark);
  border-left: 6px solid var(--primary) !important;
  & > div {
    border-top-right-radius: 5px;
    margin: 0;
    color: var(--gray);
    &:first-child {
      font-weight: 600;
      padding: 0.4em 30px;
    }
    & > * {
      padding: 0.5em 1em;
    }
  }
}

blockquote[class*="-callout"] > div > p:first-child::after, blockquote.callout-collapsible::after {
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0.4em;
  margin: 0.2em 1em;
}

blockquote[class*="-callout"] > div > p:first-child {
  font-weight: bold;
  padding: 0.4em 37px;

  &::after {
    left: 0;
  }
}

blockquote[class*="-callout"] > div > p:empty {
  padding: 1.2em 37px;
}

$summary: summary, abstract, tldr;
$bug: bug;
$danger: danger, error;
$example: example;
$fail: fail, failure, missing;
$info: info;
$todo: todo;
$note: note;
$question: question, help, faq;
$quote: quote, cite;
$success: success, done, check;
$important: important, tip, hint;
$warning: warning, caution, attention;
$media: media, video, audio, recording;
$resource: resource, document, attachment, file;
$types: $summary, $bug, $danger, $example, $fail, $info, $todo, $note, $question, $quote, $success, $important, $warning, $media, $resource;
$svgs: ();
$svgs: map-merge($svgs, ($summary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-clipboard-list'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'%3E%3C/rect%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'%3E%3C/path%3E%3Cpath d='M12 11h4'%3E%3C/path%3E%3Cpath d='M12 16h4'%3E%3C/path%3E%3Cpath d='M8 11h.01'%3E%3C/path%3E%3Cpath d='M8 16h.01'%3E%3C/path%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($bug: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-bug'%3E%3Crect width='8' height='14' x='8' y='6' rx='4'/%3E%3Cpath d='m19 7-3 2'/%3E%3Cpath d='m5 7 3 2'/%3E%3Cpath d='m19 19-3-2'/%3E%3Cpath d='m5 19 3-2'/%3E%3Cpath d='M20 13h-4'/%3E%3Cpath d='M4 13h4'/%3E%3Cpath d='m10 4 1 2'/%3E%3Cpath d='m14 4-1 2'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($danger: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-bug'%3E%3Crect width='8' height='14' x='8' y='6' rx='4'/%3E%3Cpath d='m19 7-3 2'/%3E%3Cpath d='m5 7 3 2'/%3E%3Cpath d='m19 19-3-2'/%3E%3Cpath d='m5 19 3-2'/%3E%3Cpath d='M20 13h-4'/%3E%3Cpath d='M4 13h4'/%3E%3Cpath d='m10 4 1 2'/%3E%3Cpath d='m14 4-1 2'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($example: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-list'%3E%3Cline x1='8' x2='21' y1='6' y2='6'/%3E%3Cline x1='8' x2='21' y1='12' y2='12'/%3E%3Cline x1='8' x2='21' y1='18' y2='18'/%3E%3Cline x1='3' x2='3.01' y1='6' y2='6'/%3E%3Cline x1='3' x2='3.01' y1='12' y2='12'/%3E%3Cline x1='3' x2='3.01' y1='18' y2='18'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($fail: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-x'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-info'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 16v-4'/%3E%3Cpath d='M12 8h.01'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($todo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-check-circle-2'%3E%3Cpath d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z'/%3E%3Cpath d='m9 12 2 2 4-4'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($note: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='svg-icon lucide-pencil'%3E%3Cline x1='18' y1='2' x2='22' y2='6'/%3E%3Cpath d='M7.5 20.5 19 9l-4-4L3.5 16.5 2 22z'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($question: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-help-circle'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3'/%3E%3Cpath d='M12 17h.01'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-quote'%3E%3Cpath d='M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z'/%3E%3Cpath d='M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($success: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($important: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-flame'%3E%3Cpath d='M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-alert-triangle'%3E%3Cpath d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z'/%3E%3Cpath d='M12 9v4'/%3E%3Cpath d='M12 17h.01'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($media: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'/%3E%3C/svg%3E")));
$svgs: map-merge($svgs, ($resource: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-package'%3E%3Cpath d='M16.5 9.4 7.55 4.24'/%3E%3Cpath d='M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z'/%3E%3Cpolyline points='3.29 7 12 12 20.71 7'/%3E%3Cline x1='12' x2='12' y1='22' y2='12'/%3E%3C/svg%3E")));

@function getstr($l) {
  $v: nth($l, 1);
  @return $v;
}

@each $type in $types {
  @each $s in $type {
    blockquote.#{$s}-callout {
      --callout-color: var(--callout-#{getstr($type)});
      border-left: 6px solid rgba(var(--callout-color), 1) !important;
      background-color: rgba(var(--callout-color), 0.1) !important;
      & > div > p:first-child {
        color: rgba(var(--callout-color), 1) !important;
        &::after {
          content: '';
          -webkit-mask: map-get($svgs, $type);
          mask: map-get($svgs, $type);
          background-color: rgba(var(--callout-color), 1) !important;
          -webkit-mask-size: contain;
          mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-position: center;
        }
      }
    }
  }
}
