.code-title {
  color: rgba(238, 130, 238, 0.87);
  background-color: rgba(68, 74, 90, 0.53);
  font-family: monospace;
  display: inline-block;
  position: relative;
  padding: 0.3em 0.6em 0.6em;
  margin-bottom: -0.3em;
  z-index: -1;
  paint-order: fill;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  font-size: 0.9em;
}