div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // background-color: yellow;
}
.tree,
.tree ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree ol {
    padding-left: 1em;
}
.tree summary {
    color: #6b879a;
    position: relative;
    left: -1em;
    margin-top: 0.2em;

}
.tree details {
    margin-bottom: 0.3em;
}
.tree a{
    // font-weight:unset;
    // color: black;
    font-weight: 600;
    // font-size: 0.9rem;
}

a.active{
  // color: #f28482;
  // margin: 0.5em 0;
  padding: 0.2em 0.5em ;
  // padding: 0.25em 1em;
  position: relative;
  left: -0.5em;
  border: var(--outlinegray) 1px solid;
  border-radius: 5px
}
/* The Modal (background) */
.modal {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0.3em;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#global-graph-toggle-button
{
  float:right;
   background-color: Transparent;
   background-repeat:no-repeat;
  border: none;
  padding:0.5em;
}


.icon {
  display: inline-block;
  width: 18px;
  min-width:18px;
  height: 18px;
}
#global-graph-svg{
  background: black;
  mask: url(graph.svg);
  -webkit-mask-image: url(graph.svg);
  cursor:pointer;
}
#global-graph-svg:hover{
  background: var(--primary);
}
