:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  // my
  --lightAlt: #f5f6f8 !important;
  --secondaryAlt: #e3e5e8 !important;
  --cgray: #4e4e4e;
  --lightRgba: 250,248,248;
  --darkRgba: 20,16,33;
  --shadowColor: 4px 4px 4px rgba(var(--darkRgba), 0.35);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  // my
  --lightAlt: #1a1a1a !important;
  --secondaryAlt: #000000 !important;
  --cgray: #6e6e6e !important;
  --lightRgba: 30,30,33 !important;
  --darkRgba: 251,255,245 !important;
  --shadowColor: 1px 2px 2px rgba(var(--darkRgba), 0.35);
}

::-webkit-scrollbar{
  width: 8px;
  background: #fff5f3;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 2px rgba(5, 41, 70, .3);
}
::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 2px;
}

aside::-webkit-scrollbar{
  width: 2px;
  background: #fff5f3;
}

.main-container{
  width: 100%;
  margin: 0 auto;
}


@media all and (max-width: 1200px) {
  .fixed-position{
    position: fixed;
  }
  
  .blur-element{
    z-index: 4;
    &.enabled{
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  .blur{
    transition: all 0.2s linear;
    filter: blur(1.5px);
  }
}

.main-aside{
  width: 16%;
  padding-right: 1%;
  padding-bottom: 1em;
  height: 100vh;
  position: fixed;
  overflow-y:auto;
  overflow-x: hidden;
  color: var(--dark);
  background-color: var(--lightAlt);
  transition: all 0.2s linear;
  border-right: 1px solid var(--secondaryAlt);
  left: 0;
  
  ul{
    list-style: none;
    padding-left: 5%;
  }
  .close-nav-mobile{
    display: none;
  }
  
  @media all and (max-width: 1200px) {
    min-width: 250px;
    z-index: 7;
    width: max-content;
    max-width: 35%;
    padding-top: 0;
    height: 100vh;
    border-right:0px;
    &.disabled{
      left:-60%
    }
    -webkit-box-shadow: var(--shadowColor);
    box-shadow: var(--shadowColor);
  }

  @media all and (max-width: 450px) {
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 0px;
    &.disabled{
      left:-102%
    }
    .close-nav-mobile{
      display: block;
      &:after {
        color: var(--dark);
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 1.75em; 
        content: '\d7';
        line-height: normal;
        text-align: center;
      }
    &:hover{
      cursor: pointer;
    }
  } 
  }
}

.search-wrapper{ 
   display: flex;
}

@media all and (max-width: 1200px) {
  .main-header{
    display: flex;
    position: relative;
    justify-content: space-between;
    .spacer{
      flex: none;
    }
    .nav-wrapper{
      flex-grow: 1;
      flex-basis: 0%;
      filter: blur(0);
      z-index: 6;
      .nav-btn{
        z-index: 6;
        position: relative;
        margin: auto 0;
        width: 1.3rem;
        & > div{
          width: 100%;
          height: 2px;
          margin: 5px 0;
          background-color: var(--dark );
          transition: all 0.1s linear;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    #page-title{
      flex-basis: 0%;
      flex-grow: 1;
    }

    .search-wrapper{
      padding: 3px;
      .search-icon{
        padding: 2px;
      }
      p{
        display: none !important;
      }
    }
  }
}


.folder{
    .page-link{
      margin: 1px 0;
    }
    .wrapper{
      display: flex;
    }
    .title{
      display: block;
    }
    .a-wrapper{
      padding-right: 10px;
      &:hover{
        cursor: pointer;
      }
      .arrow{
        content: "";
        display: inline-block;
        // arrow
        margin-bottom: 3.5px;
        border: solid var(--dark);
        border-width: 0 0.13rem 0.13rem 0;
        padding: 0.12rem;
        // others
        z-index: 10;
        //default
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .down {
        -webkit-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
      }
  }
  &>ul{
    padding-left: 5%;
    display: none;
  }
} 

.folder.active>ul{
  display:block;
}


