// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}