// Overrides
/* Background */
.chroma {
  overflow: hidden !important;
  background-color: var(--lightgray) !important;
}

/* LineTable */
.chroma .lntable {
  width: auto !important;
  overflow: auto !important;
  display: block !important;
}

/* LineHighlight */
.chroma .hl {
  display: block !important;
  width: 100% !important;
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.0em !important;
  padding: 0 0.0em 0 0.0em !important;
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.0em !important;
  padding: 0 0.0em 0 0.0em !important;
}

/* GenericDeleted */
.chroma .gd {
  color: #8b080b !important;
}

/* GenericInserted */
.chroma .gi {
  font-weight: bold !important;
}

.lntd:first-of-type > .chroma {
  padding-right: 0 !important;
}

.chroma code {
  font-family: var(--font-mono) !important;
  font-size: 0.85em !important;
  line-height: 2em !important;
  background: none !important;
  padding: 0 !important;
}

.chroma {
  border-radius: 3px !important;
  margin: 0 !important;
}

pre.chroma {
  -moz-tab-size:4;-o-tab-size:4;tab-size:4;
}
