<!-- set data/config yaml file based on website language -->
{{ $config := cond (eq $.Site.Language.Lang "en") "config" (printf "config.%s" $.Site.Language.Lang) }}
{{ $data := index $.Site.Data $config }}
<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        {{ $name := $data.name | default $.Site.Data.config.name }}
        {{ $year := dateFormat "2006" now }}
        <p>{{ i18n "copyright" (dict "name" $name "year" $year) | safeHTML}}</p>
        <ul>
            {{ if not .IsHome }}
            <li><a href="{{ $.Site.BaseURL}}">{{ i18n "home" }}</a></li>
            {{end}}
            {{- range $data.links | default $.Site.Data.config.links -}}
            <li><a href="{{.link}}">{{.link_name}}</a></li>
            {{- end -}}
        </ul>
    </footer>
</div>
