{{if $.Site.Data.config.enableColumnLayout}}
  {{if $.Site.Data.config.enableFooter}}
  <div class="page-end vertical">
      <div>
          {{partial "graph.html" .}}
      </div>
      <div class="backlinks-container">
          {{partial "backlinks.html" .}}
      </div>
  </div>
  {{end}}
{{else}}
  <hr/>

  {{if $.Site.Data.config.enableFooter}}
  <div class="page-end">
      <div class="backlinks-container">
          {{partial "backlinks.html" .}}
      </div>
      <div>
          {{partial "graph.html" .}}
      </div>
  </div>
  {{end}}
{{end}}
