<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="header">
        <a href="/" class="logo">Fleeting Notes</a>
        <div class="header-right">
        <a href="/download">Downloads</a>
        <a href="/">Pricing</a>
        <a href="/posts">Blog</a>
        <a href="javascript:void(0);" id="search-icon">
            <i class="fa fa-search"></i>
        </a>
        <a href="javascript:void(0);" id="darkmode-switch">
            <input class='toggle' id='darkmode-toggle' type='checkbox' tabindex="-1" hidden>
            <i class="fa fa-sun-o" id="darkmode-icon" for="darkmode-toggle" tabindex="-1"></i>
        </a>
    </div>
</header>