<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N38HWMV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div id="myTopnav" class="header">
        <a href="javascript:void(0);" class="menu" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        <a href="/" class="logo">Fleeting Notes</a>
        <div id="headerRight" class="header-right">
        <a href="/download">Downloads</a>
        <a href="/pricing">Pricing</a>
        <a href="/posts">Blog</a>
        <a href="javascript:void(0);" id="search-icon">
            <i class="fa fa-search"></i>
        </a>
        <!-- <a href="javascript:void(0);" id="darkmode-switch">
            <input class='toggle' id='darkmode-toggle' type='checkbox' tabindex="-1" hidden>
            <i class="fa fa-sun-o" id="darkmode-icon" for="darkmode-toggle" tabindex="-1"></i>
        </a> -->
    </div>
</header>
<script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    var y = document.getElementById("headerRight")
    if (x.className === "header") {
        x.className += " responsive";
        y.className += " responsive"
    } else {
        x.className = "header";
        y.className = "header-right";
    }
}
</script>
