<ul class="section-ul">
    {{- range .Reverse -}}
    <li class="section-li">
        <div class="section">
            <div class="desc">
                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                <p>{{- .Summary -}}{{if .Truncated}}...{{end}}</p>
            </div>
            <p class="meta">
                {{ .ReadingTime }} minute read. Created on {{if ne .Date .Lastmod}}{{ .Date.Format "January 2, 2006" }}{{else}}Unknown{{end}}
            </p>
        </div>
    </li>
    {{- end -}}
</ul>