<h1>Pricing</h1>
<div class="pricing-columns">
    <ul class="price">
        <li class="header">Free</li>
        <li class="grey">$ 0 / month<br><br><a href="/download" class="button">Try It Free</a></li>
        <li>Unlimited Notes</li>
        <li>Chrome / Firefox Web Extension & Web App</li>
        <li>Full-text search</li>
        <li>Up to 2 devices logged in concurrently</li>
        <li>Access to <a href="https://github.com/fleetingnotes/fleeting-notes-obsidian">plugin</a> for Obsidian MD sync</li>
    </ul>
</div>
<div class="pricing-columns">
    <ul class="price">
        <li class="header">Early Adopter</li>
        <li class="grey">$3 / month <b>(75% off)</b><br><br><a href="https://payments.fleetingnotes.app" class="button">Subscribe</a></li>
        <li><b>Everything on the Free plan, plus</b></li>
        <li>Access to Beta Versions<br>(including Android / iOS builds)</li>
        <li>AI Powered Link Suggestions & Search (coming soon)</li>
        <li>Unlimited Devices</li>
        <li>Early adopter pricing forever<br>(75% off)</li>
    </ul>
</div>