{{ $content := .Content }}
{{ $raw := .RawContent }}
{{ $page := .Page }}

{{/* Escape slashes for Latex to fix line breaks */}}
{{$latex := findRE "\\$\\$([^\\$]+)\\$\\$" $content}}
{{range $latex}}
  {{$fixed := replaceRE "\\\\(?: +|\\n)" "\\\\" .}}
  {{$content = replace $content . $fixed}}
{{end}}

{{/* Wikilinks */}}
{{$wikilinks := $content | findRE "!?\\[\\[\\S[^\\[\\]\\|]*(?:\\|[^\\[\\]]*)?\\S\\]\\]" }}
{{$codefences := $raw | findRE "\\x60[^\\x60\\n]+\\x60"}}
{{$codeblocks := $raw | findRE "\\x60{3}[^\\x60]+\\x60{3}"}}
{{$code := union $codefences $codeblocks}}
{{range $wikilinks}}
  {{$cur := .}}
  {{$incode := false}}
  {{range $code}}
    {{if (in . $cur)}}
      {{$incode = true}}
    {{end}}
  {{end}}
  {{if not $incode}}
    {{if (hasPrefix . "!")}}
      {{$inner := . | strings.TrimPrefix "![[" | strings.TrimSuffix "]]" }}
      {{$split := split $inner "|"}}
      {{$path := index $split 0 | relURL}}
      {{$width := index $split 1}}
      {{$img := printf "<img src=\"%s\" width=\"%s\" />" $path (default "auto" $width)}}
      {{$content = replace $content . $img}}
    {{else}}
      {{$inner := . | strings.TrimPrefix "[[" | strings.TrimSuffix "]]" }}
      {{$split := split $inner "|"}}
      {{$path := index $split 0}}
      {{$reference := split $path "#"}}
      {{$title := index $reference 0}}
      {{$block := default "" (index $reference 1)}}
      {{$block = strings.TrimRight "/" (cond (eq $block "") $block (printf "#%s" $block)) | urlize | lower}}
      {{$href := strings.TrimRight "/" ($page.GetPage $title).RelPermalink}}
      {{$display := default $title (index $split 1)}}
      {{if not $href}}
        {{$link := printf "<a class=\"internal-link broken\">%s</a>" $display}}
        {{$content = replace $content . $link}}
      {{else}}
        {{$fullhref := printf "%s%s" $href $block }}
        {{$link := printf "<a href=\"%s\" rel=\"noopener\" class=\"internal-link\" data-src=\"%s\">%s</a>" $fullhref $href $display}}
        {{$content = replace $content . $link}}
      {{end}}
    {{end}}
  {{end}}
{{end}}

{{/* Add jumpable anchors */}}
{{ $content = $content | replaceRE "(<h[1-9] id=\"([^\"]+)\">)(.+)(</h[1-9]>)" `<a href="#${2}">${1}<span class="hanchor" ariaLabel="Anchor"># </span>${3}${4}</a>` }}

{{/* Callouts */}}
{{if $.Site.Data.config.enableCallouts}}
  {{ $content = $content | replaceRE "<blockquote>" "<blockquote class=callout>" }}
  {{ $blockquoteclasses := findRE `\[!.+\]` $content }}
  {{ $blockquoteclasses1 := findRE "<blockquote.*?>(.|\n)*?</blockquote>" $content }}
  {{ $blockquotetags := findRE `blockquote class=callout` $content }}
  {{ $counter := 0 }}
  {{ $counter1 := 0 }}
  {{ $finder := index $blockquoteclasses1 $counter }}
  {{range $blockquotetags}}
    {{ $finder = index $blockquoteclasses1 $counter }}
    {{ if (in $finder "[!") }}
      {{ $inner := index $blockquoteclasses $counter1 }}
      {{ if (in $finder "]-") }}
        {{ $inner = $inner | replaceRE `\[!([a-zA-Z]+)\]` `callout-collapsible callout-collapsed ${1}`}}
      {{ else if (in $finder "]+") }}
        {{ $inner = $inner | replaceRE `\[!([a-zA-Z]+)\]` `callout-collapsible ${1}`}}
      {{ else}}
        {{ $inner = $inner | replaceRE `\[!([a-zA-Z]+)\]` `${1}` }}
      {{ end }}
      {{ $inner = printf "blockquote class=\"%s-callout\"" $inner | lower}}
      {{ $content = replace $content . $inner 1}}
      {{ $counter1 = add $counter1 1 }}
    {{ else }}
      {{ $inner := print "blockquote" }}
      {{ $content = replace $content . $inner 1}}
    {{ end }}
    {{ $counter = add $counter 1 }}
  {{end}}
  {{ $content = $content | replaceRE `\[![a-zA-Z]+\][-\+]?` "" }}
  {{ $content = $content | replaceRE "blockquote class=callout" "blockquote" }}
{{end}}

{{ $content | safeHTML }}
