<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
<main class="main-container"><div class="blur-element"></div>
<aside class="main-aside disabled">
    {{ partial "menu" . }}
</aside>
<div class="singlePage">
    {{partial "darkmode.html" .}}
    <div class="centered">
        <h1>404.</h1>
        <h3>{{ i18n "404_message" }}</h3>
        <a href="{{ .Site.BaseURL }}">{{ i18n "404_back" }}</a>
    </div>
</div>
</main>
</body>
{{ $js := resources.Get "js/menu.js" }}
<script src="{{ $js.Permalink }}"></script>
</html>
