<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}
<body>
{{partial "search.html" .}}
<main class="main-container"><div class="blur-element"></div>
    <aside class="main-aside disabled">
        {{ partial "menu" . }}
    </aside>
    <div class="singlePage">
    {{partial "header.html" .}}
      <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
        {{partial "recent.html" . }}
        {{end}}
      </article>
      {{partial "footerIndex.html" .}}
    </div>
  </main>
  </body>
{{ $js := resources.Get "js/menu.js" }}
<script src="{{ $js.Permalink }}"></script>
{{/*  <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>  */}}
</html>