<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
      {{partial "allTags.html" .}}
      {{partial "recent.html" . }}
        <!-- {{if $.Site.Data.config.enableRecentNotes}} -->
        <!-- {{end}} -->
    </article>
    <!-- {{partial "footerIndex.html" .}} -->
</div>
</body>
</html>
