// Checkbox styling & icons.
// Icons Used -- https://lucide.dev/icons/
// Credit Minimal theme: https://minimal.guide/Block+types/Checklists#Checkbox+styling
// Speach Bubble Idea originates from: https://github.com/AnubisNekhet/AnuPpuccin/tree/main
// Also from: https://github.com/SlRvb/Obsidian--ITS-Theme/

body {
  --color-red-rgb: 208,66,85;
  --color-orange-rgb: 213,118,63;
  --color-yellow-rgb: 229,181,103;
  --color-green-rgb: 168,195,115;
  --color-cyan-rgb: 115,187,178;
  --color-blue-rgb: 108,153,187;
  --color-purple-rgb: 158,134,200;
  --color-pink-rgb: 176,82,121;

  // Colors sampled from the AnuPpuccin Nord theme
  --color-red: #d04255;
  --color-orange: #d5763f;
  --color-yellow: #e5b567;
  --color-green: #a8c373;
  --color-cyan: #73bbb2;
  --color-blue: #6c99bb;
  --color-purple: #9e86c8;
  --color-pink: #b05279;

  --text-normal: #222222;
  --text-muted: #ababab;

  --speech-bubble-opacity: 0.25;
  --speech-bubble-opacity-left: 0.2;
  --speech-bubble-opacity-right: 0;
}

// base checkbox style
input[type=checkbox] {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  mask-position: 50% 50%;
  transform: translateY(4px);
}

// this is such an ugly selector...
.page article ul.contains-task-list li:has(> input[type="checkbox"]) {
  text-decoration: none;
  text-decoration-color: currentcolor;
  -webkit-text-decoration-color: var(--darkgray);
  text-decoration-color: var(--darkgray);
  color: var(--darkgray);
}

input[type="checkbox"]:checked::after {
  display: none;
}

li.task-list-item {
  list-style-type: none;
}

/* Incomplete Task */
.task-list-item-checkbox, input[type=checkbox] {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square"><rect width="18" height="18" x="3" y="3" rx="2"/></svg>')
}

/* Done */
input[data-task='x']:checked,
li[data-task='x'] > input:checked,
li[data-task='x'] > testp > input:checked {
  color: var(--text-muted);
  background-color: var(--text-muted);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-x"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>');
}
/* In Progress */
input[data-task='/']:checked,
li[data-task='/'] > input:checked,
li[data-task='/'] > p > input:checked {
  color: var(--text-muted);
  background-color: var(--text-muted);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-slash"><rect width="18" height="18" x="3" y="3" rx="2"/><line x1="9" x2="15" y1="15" y2="9"/></svg>')
}
/* Cancelled */
input[data-task='-']:checked,
li[data-task='-'] > input:checked,
li[data-task='-'] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-minus"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M8 12h8"/></svg>');
}
/* Scheduled */
input[data-task='<']:checked,
li[data-task='<'] > input:checked,
li[data-task='<'] > p > input:checked {
  color: var(--color-cyan);
  background-color: var(--color-cyan);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-chevron-left"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m14 16-4-4 4-4"/></svg>');
}
/* Forwarded */
input[data-task='>']:checked,
li[data-task='>'] > input:checked,
li[data-task='>'] > p > input:checked {
  color: var(--color-cyan);
  background-color: var(--color-cyan);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-chevron-right"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m10 8 4 4-4 4"/></svg>');
}
/* event */
input[data-task="e"]:checked,
li[data-task="e"] > input:checked,
li[data-task="e"] > p > input:checked {
  color: var(--color-yellow);
  color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-dot"><rect width="18" height="18" x="3" y="3" rx="2"/><circle cx="12" cy="12" r="1"/></svg>');
}
/* YES */
input[data-task="y"]:checked,
li[data-task="y"] > input:checked,
li[data-task="y"] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
}
/* NO */
input[data-task="n"]:checked,
li[data-task="n"] > input:checked,
li[data-task="n"] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
}

/* Plus, Add */
input[data-task="+"]:checked,
li[data-task="+"] > input:checked,
li[data-task="+"] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>');
}
/* Minus / Subtract */
input[data-task="m"]:checked,
li[data-task="m"] > input:checked,
li[data-task="m"] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus"><path d="M5 12h14"/></svg>');
}

/* Question */
input[data-task='?']:checked,
li[data-task='?'] > input:checked,
li[data-task='?'] > p > input:checked {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
}
/* Exclamation */
input[data-task='!']:checked,
li[data-task='!'] > input:checked,
li[data-task='!'] > p > input:checked {
  color: var(--color-orange);
  background-color: var(--color-orange);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>');
}
/* Quote */
input[data-task='"']:checked,
input[data-task='“']:checked,
li[data-task='"'] > input:checked,
li[data-task='"'] > p > input:checked,
li[data-task='“'] > input:checked,
li[data-task='“'] > p > input:checked {
  color: var(--color-cyan);
  background-color: var(--color-cyan);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-quote"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"/><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"/></svg>');
}
/* Star */
input[data-task='*']:checked,
li[data-task='*'] > input:checked,
li[data-task='*'] > p > input:checked {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>');
}
/* Location */
input[data-task='l']:checked,
li[data-task='l'] > input:checked,
li[data-task='l'] > p > input:checked {
  color: var(--color-blue);
  background-color: var(--color-blue);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
}
/* Information */
input[data-task='i']:checked,
li[data-task='i'] > input:checked,
li[data-task='i'] > p > input:checked {
  color: var(--color-blue);
  background-color: var(--color-blue);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>');
}
/* Amount or Savings */
input[data-task='S']:checked,
li[data-task='S'] > input:checked,
li[data-task='S'] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dollar-sign"><circle cx="12" cy="12" r="10"/><path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/><path d="M12 18V6"/></svg>');
}
/* Idea */
input[data-task='I']:checked,
li[data-task='I'] > input:checked,
li[data-task='I'] > p > input:checked {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
}
/* Fire */
input[data-task='f']:checked,
li[data-task='f'] > input:checked,
li[data-task='f'] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"/></svg>');
}
/* Key */
input[data-task='k']:checked,
li[data-task='k'] > input:checked,
li[data-task='k'] > p > input:checked {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-key-round"><path d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"/><circle cx="16.5" cy="7.5" r=".5" fill="currentColor"/></svg>');
}
/* Up */
input[data-task='u']:checked,
li[data-task='u'] > input:checked,
li[data-task='u'] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXVwIj48cGF0aCBkPSJtNSAxMiA3LTcgNyA3Ii8+PHBhdGggZD0iTTEyIDE5VjUiLz48L3N2Zz4=");
}
/* Down */
input[data-task='d']:checked,
li[data-task='d'] > input:checked,
li[data-task='d'] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWRvd24iPjxwYXRoIGQ9Ik0xMiA1djE0Ii8+PHBhdGggZD0ibTE5IDEyLTcgNy03LTciLz48L3N2Zz4=");
}
/* Win / Celebrate */
input[data-task='w']:checked,
li[data-task='w'] > input:checked,
li[data-task='w'] > p > input:checked {
  color: var(--color-purple);
  background-color: var(--color-purple);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cake"><path d="M20 21v-8a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8"/><path d="M4 16s.5-1 2-1 2.5 2 4 2 2.5-2 4-2 2.5 2 4 2 2-1 2-1"/><path d="M2 21h20"/><path d="M7 8v3"/><path d="M12 8v3"/><path d="M17 8v3"/><path d="M7 4h0.01"/><path d="M12 4h0.01"/><path d="M17 4h0.01"/></svg>');
}
/* Pro, thumbs up */
input[data-task='p']:checked,
li[data-task='p'] > input:checked,
li[data-task='p'] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>');
}
/* Con, thumbs down */
input[data-task='c']:checked,
li[data-task='c'] > input:checked,
li[data-task='c'] > p > input:checked {
  color: var(--color-orange);
  background-color: var(--color-orange);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-down"><path d="M17 14V2"/><path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22h0a3.13 3.13 0 0 1-3-3.88Z"/></svg>');
}
/* Bookmark */
input[data-task='b']:checked,
li[data-task='b'] > input:checked,
li[data-task='b'] > p > input:checked {
  color: var(--color-orange);
  background-color: var(--color-orange);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark"><path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"/></svg>');
}

/* Open PR */
input[data-task='P']:checked,
li[data-task='P'] > input:checked,
li[data-task='P'] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-git-pull-request"><circle cx="18" cy="18" r="3"/><circle cx="6" cy="6" r="3"/><path d="M13 6h3a2 2 0 0 1 2 2v7"/><line x1="6" x2="6" y1="9" y2="21"/></svg>');
}
/* Merged PR */
input[data-task='M']:checked,
li[data-task='M'] > input:checked,
li[data-task='M'] > p > input:checked {
  color: var(--color-purple);
  background-color: var(--color-purple);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-git-merge"><circle cx="18" cy="18" r="3"/><circle cx="6" cy="6" r="3"/><path d="M6 21V9a9 9 0 0 0 9 9"/></svg>');
}
/* Draft PR */
input[data-task='D']:checked,
li[data-task='D'] > input:checked,
li[data-task='D'] > p > input:checked {
  color: var(--text-muted);
  background-color: var(--text-muted);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-git-pull-request-draft"><circle cx="18" cy="18" r="3"/><circle cx="6" cy="6" r="3"/><path d="M18 6V5"/><path d="M18 11v-1"/><line x1="6" x2="6" y1="9" y2="21"/></svg>');
}
/* ANSWER */
input[data-task="A"]:checked,
li[data-task="A"] > input:checked,
li[data-task="A"] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>');
}
/* FLAG */
input[data-task="F"]:checked,
li[data-task="F"] > input:checked,
li[data-task="F"] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"/><line x1="4" x2="4" y1="22" y2="15"/></svg>');
}
/* Person */
input[data-task="@"]:checked,
li[data-task="@"] > input:checked,
li[data-task="@"] > p > input:checked {
  color: var(--color-cyan);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>');
}
/* Conflict */
input[data-task="~"]:checked,
li[data-task="~"] > input:checked,
li[data-task="~"] > p > input:checked {
  color: var(--color-orange);
  background-color: var(--color-orange);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-swords"><polyline points="14.5 17.5 3 6 3 3 6 3 17.5 14.5"/><line x1="13" x2="19" y1="19" y2="13"/><line x1="16" x2="20" y1="16" y2="20"/><line x1="19" x2="21" y1="21" y2="19"/><polyline points="14.5 6.5 18 3 21 3 21 6 17.5 9.5"/><line x1="5" x2="9" y1="14" y2="18"/><line x1="7" x2="4" y1="17" y2="20"/><line x1="3" x2="5" y1="19" y2="21"/></svg>');
}
/* heart / favorite / health */
input[data-task="H"]:checked,
li[data-task="H"] > input:checked,
li[data-task="H"] > p > input:checked {
  color: var(--color-red);
  background-color: var(--color-red);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>');
}
/* note */
input[data-task="N"]:checked,
li[data-task="N"] > input:checked,
li[data-task="N"] > p > input:checked {
  color: var(--color-purple);
  background-color: var(--color-purple);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-pen"><path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"/><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><path d="M18.4 2.6a2.17 2.17 0 0 1 3 3L16 11l-4 1 1-4Z"/></svg>');
}
/* time / appointment */
input[data-task="t"]:checked,
li[data-task="t"] > input:checked,
li[data-task="t"] > p > input:checked {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-clock"><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/><path d="M16 2v4"/><path d="M8 2v4"/><path d="M3 10h5"/><path d="M17.5 17.5 16 16.3V14"/><circle cx="16" cy="16" r="6"/></svg>');
}
/* calendar / date */
input[data-task="C"]:checked,
li[data-task="C"] > input:checked,
li[data-task="C"] > p > input:checked {
  color: var(--color-orange);
  background-color: var(--color-orange);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>');
}
/* example */
input[data-task="E"]:checked,
li[data-task="E"] > input:checked,
li[data-task="E"] > p > input:checked {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-badge-check"><path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/><path d="m9 12 2 2 4-4"/></svg>');
}
/* research */
input[data-task="R"]:checked,
li[data-task="R"] > input:checked,
li[data-task="R"] > p > input:checked {
  color: var(--color-blue);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-microscope"><path d="M6 18h8"/><path d="M3 22h18"/><path d="M14 22a7 7 0 1 0 0-14h-1"/><path d="M9 14h2"/><path d="M9 12a2 2 0 0 1-2-2V6h6v4a2 2 0 0 1-2 2Z"/><path d="M12 6V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3"/></svg>');
}
/* outline / plot */
input[data-task="O"]:checked,
li[data-task="O"] > input:checked,
li[data-task="O"] > p > input:checked {
  color: var(--color-green);
  background-color: var(--color-green);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layers-3"><path d="m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z"/><path d="m6.08 9.5-3.5 1.6a1 1 0 0 0 0 1.81l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9a1 1 0 0 0 0-1.83l-3.5-1.59"/><path d="m6.08 14.5-3.5 1.6a1 1 0 0 0 0 1.81l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9a1 1 0 0 0 0-1.83l-3.5-1.59"/></svg>');
}
/* world */
input[data-task="W"]:checked,
li[data-task="W"] > input:checked,
li[data-task="W"] > p > input:checked {
  color: var(--color-blue);
  background-color: var(--color-blue);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe"><circle cx="12" cy="12" r="10"/><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/><path d="M2 12h20"/></svg>');
}
/* brainstorm, brain */
input[data-task="B"]:checked,
li[data-task="B"] > input:checked,
li[data-task="B"] > p > input:checked {
  color: var(--color-pink);
  background-color: var(--color-pink);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>');
}


@for $i from 0 through 9 {
  // this is such an ugly selector...
  .page article ul.contains-task-list li[data-task="#{$i}"]:has(> input[type="checkbox"]) {
    text-decoration: none;
    text-decoration-color: currentcolor;
    -webkit-text-decoration-color: var(--darkgray);
    text-decoration-color: var(--darkgray);
    color: var(--darkgray);
  }

  [data-task="#{$i}"] {
    margin-inline-start: -40px;
    padding: 3px 10px !important;
    max-width: fit-content;
    color: var(--text-normal);
    --bold-color: var(--text-normal);
    --italic-color: var(--text-normal);

    > p {
      margin-top: 0;
      margin-bottom: 0;
      > input[type=checkbox] {
        display: none;
      }
    }
    > input[type=checkbox] {
      display: none;
    }
  }
}

[data-task="0"] {
  background-color: rgba(var(--color-red-rgb), var(--speech-bubble-opacity));
}
[data-task="1"] {
  background-color: rgba(var(--color-orange-rgb), var(--speech-bubble-opacity));
}
[data-task="2"] {
  background-color: rgba(var(--color-yellow-rgb), var(--speech-bubble-opacity));
}
[data-task="3"] {
  background-color: rgba(var(--color-green-rgb), var(--speech-bubble-opacity));
}
[data-task="4"] {
  background-color: rgba(var(--color-blue-rgb), var(--speech-bubble-opacity));
}
[data-task="5"] {
  background-color: rgba(var(--color-purple-rgb), var(--speech-bubble-opacity));
}
[data-task="6"] {
  background-color: rgba(var(--color-pink-rgb), var(--speech-bubble-opacity));
}
[data-task="7"] {
  background-color: rgba(var(--color-cyan-rgb), var(--speech-bubble-opacity));
}

/* creates a smooth gradient left-to-right */
[data-task="8"] {
  background: linear-gradient(
    to right,
    rgba(var(--color-red-rgb), var(--speech-bubble-opacity-left)),
    rgba(var(--color-red-rgb), var(--speech-bubble-opacity-right))
  );
}

/* creates a gradient top-to-pottom that only covers the first 21 pixels */
[data-task="9"] {
  background: linear-gradient(
    to bottom,
    rgba(var(--color-blue-rgb), var(--speech-bubble-opacity-left)) 0,
    rgba(var(--color-blue-rgb), var(--speech-bubble-opacity-right)) 21px
  );
}
