$normalWeight: 400;
$semiBoldWeight: 600;
$boldWeight: 700;

$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;

$topSpacing: 4rem;

$pageWidth: 750px;
$sidePanelWidth: 380px;
$fullPageWidth: $pageWidth + $sidePanelWidth;

$emptySpace: calc(100vw - ($pageWidth + $sidePanelWidth));
$centerPanelLeftMargin: $emptySpace / 2;
$rightPanelRightMargin: $emptySpace / 2;
