<div class="plan-page index-container">
  <h1 class="plan-title">Pricing</h1>
  <div>
    <p class="plan-page-text">
      Fleeting Notes will always be <b>100% free offline.</b>
    </p>
    <p class="plan-page-text">
      If you're interested in accessing insider builds,
      <a href="https://ko-fi.com/fleetingnotes">donating</a> will give you
      access to those.
    </p>
  </div>

  <div class="plan-container">
    <div class="plan">
      <div class="plan-header">
        <h1 class="plan-label">Free</h1>
        <p class="plan-price">$0 / month</p>
      </div>
      <div class="plan-body">
        <ul class="plan-list">
          <li>Unlimited Notes</li>
          <li>Only 1 device logged in at a time</li>
          <li>
            <a
              class="internal-link"
              href="/posts/end-to-end-encryption-in-fleeting-notes/"
              >End-to-end encryption</a
            >
          </li>
          <li>10 GB attachment upload limit</li>
          <li>Blazing fast full-text search</li>
          <li>Browser Extension (Chrome, Firefox)</li>
          <li>Android & iOS App</li>
          <li>
            Access to
            <a href="https://github.com/fleetingnotes/fleeting-notes-obsidian"
              >plugin</a
            >
            for Obsidian MD sync
          </li>
          <li>
            <a
              class="internal-link"
              href="/posts/roadmap"
              >And more to come...</a>
          </li>
        </ul>
        <a href="https://my.fleetingnotes.app/" class="button button-cta"
          >Get started</a
        >
      </div>
    </div>
    <div class="plan">
      <div class="plan-header premium">
        <h1 class="plan-label">Basic</h1>
        <p class="plan-price">$3 / month</p>
      </div>
      <div class="plan-body">
        <ul class="plan-list">
          <li><b>Everything on the Free plan</b></li>
          <li>Unlimited logged in devices</li>
          <li>25 GB attachment upload limit</li>
        </ul>
        <a
          href="https://payments.fleetingnotes.app?price=basic"
          class="button button-cta premium-btn"
          >Try it for free</a
        >
      </div>
    </div>
    <div class="plan">
      <div class="plan-header premium">
        <h1 class="plan-label">Believer</h1>
        <p class="plan-price">$6 / month</p>
      </div>
      <div class="plan-body">
        <ul class="plan-list">
          <li><b>Everything on the Basic plan</b></li>
          <li>
            <a
              class="internal-link"
              href="/posts/how-ai-powered-links-supercharge-notetaking/"
              >AI powered link suggestions</a
            >
          </li>
          <li>And upcoming premium features...</li>
        </ul>
        <a
          href="https://payments.fleetingnotes.app?price=premium"
          class="button button-cta premium-btn"
          >Try it for free</a
        >
      </div>
    </div>
  </div>
</div>
