<div class="row">
    <div class="col-6">
        <ul class="price">
            <li class="header">Free</li>
            <li class="grey">$ 0 / month<br><br><a href="https://my.fleetingnotes.app/" class="button">Try it free</a></li>
            <li>Unlimited Notes</li>
            <li>Chrome / Firefox Web Extension & Web App</li>
            <li>Full-text search</li>
            <li>Only 1 device logged in at a time</li>
            <li>Access to <a href="https://github.com/fleetingnotes/fleeting-notes-obsidian">plugin</a> for Obsidian MD sync</li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="price">
            <li class="header">Sync+ Plan</li>
            <li class="grey">$3 / month <b>(75% off)</b><br><br><a href="https://payments.fleetingnotes.app" class="button">Subscribe</a></li>
            <li><b>Everything on the Free plan, plus</b></li>
            <li>Access to Beta Versions<br>(including Android / iOS builds)</li>
            <li>Unlimited logged in devices</li>
            <li>Early adopter pricing forever<br>(75% off)</li>
        </ul>
    </div>
</div>