---
title: UWB Device Setup Test Report
tags:
  - UWB
  - "#hardware"
---

# Voltage Test Table

## UWB Board Input Voltage Table

![](research_career/UWB_about/report/attachments/Pasted%20image%2020240117160051.png)


### Test Method 1

![](research_career/UWB_about/report/attachments/Pasted%20image%2020240117161234.png)

| **Demanding Amp** | **Real Amp** |
| ---- | ---- |
| Gnd | Gnd |
| +3.3v | +3.32v |
| +5v | +4.99v |
| -5v | -11.42v |
| +21.5v | +21.4v |
| -16.8v | -17.1v |
| +21.5v | +21.4v |
| -16.8v | -17.1v |
| -8v | -8v |
| +8v | +8v |

### Test Method 2


![](research_career/UWB_about/report/attachments/Pasted%20image%2020240117161826.png)

|**Demanding Amp** |**Real Amp** |
|---|---|
|Gnd|Gnd|
|+3.3v|+2.8v |
|+5v|+4.2v |
|-5v|+3.3v |
|+21.5v|+21.0v |
|-16.8v|-17.6v |
|+21.5v|+21.0v |
|-16.8v|-17.6v |
|-8v|-8.5v |
|+8v|+7.6v |


## Power Board Output Voltage Table

![](research_career/UWB_about/report/attachments/Pasted%20image%2020240117162209.png)

| **Demanding Amp** | **Real Amp** |
| ------------- | -------- |
| Gnd           | Gnd      |
| +28v          | +28.4v   |
| -17v          | -17.18v  |
| +21v          | +21.4v         |
| -10v          | -10.01v         |
| +12v          | 12.35v         |
| -8v           | -8.13v         |
| +8v           | 8.05v         |
| -5v           | -11.43v         |
| +5v           | 4.98v         |
| +3.3v         | 3.32v         |

